In [2]:
import os, sys, yaml,argparse
from tqdm import tqdm_notebook as tqdm

from utils.data_analysis import *
from utils.preprocessing import *
from utils.readers import *
from utils.read_csv import *
from utils.subject_split import *

In [3]:
cfg = yaml.load(open("./config.yaml","r"), Loader=yaml.FullLoader)
mimic3_path = cfg["mimic3_path"]
output_path = cfg["output_path"]
output_subject_path = cfg["output_subject_path"]
phenotype_definitions = cfg["phenotype_definitions"]
itemids_file = cfg["itemids_file"]
reference_range_file = cfg["variable_ranges"]
event_tables = cfg["event_tables"]
mimic3_path2 = "/data2/lzylzy/mimic/events/"

In [4]:
d_item_path = os.path.join(mimic3_path,"D_ITEMS.csv")
df_d_item = pd.read_csv(d_item_path,low_memory=False)

# INPUTEVENTS_CV

In [11]:
df_incv = pd.read_csv(os.path.join(mimic3_path,"INPUTEVENTS_CV.csv"),low_memory=False)
df_incv

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,RATEUOM,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
0,592,24457,184834.0,205776.0,2193-09-11 09:00:00,30056,100.0,ml,NaN,NaN,...,756654,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,593,24457,184834.0,205776.0,2193-09-11 12:00:00,30056,200.0,ml,NaN,NaN,...,3564075,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,594,24457,184834.0,205776.0,2193-09-11 16:00:00,30056,160.0,ml,NaN,NaN,...,422646,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
3,595,24457,184834.0,205776.0,2193-09-11 19:00:00,30056,240.0,ml,NaN,NaN,...,5137889,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
4,596,24457,184834.0,205776.0,2193-09-11 21:00:00,30056,50.0,ml,NaN,NaN,...,8343792,9359133,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17527930,17422687,27946,169481.0,212466.0,2154-07-16 22:00:00,40864,82.0,ml,NaN,NaN,...,10296124,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17527931,17422688,27946,169481.0,212466.0,2154-07-16 23:00:00,40864,82.0,ml,NaN,NaN,...,10248887,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17527932,17422689,27946,169481.0,212466.0,2154-07-17 00:00:00,40864,NaN,ml,NaN,NaN,...,7418343,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17527933,17422690,30516,132490.0,260091.0,2105-08-25 06:30:00,46046,31.0,ml,NaN,NaN,...,1753414,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17527934,17422691,30516,132490.0,260091.0,2105-08-25 12:30:00,46046,31.0,ml,NaN,NaN,...,1527223,4180996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
for i ,row in df_incv.iterrows():
    print(pd.notnull(row["RATE"]))
    break

False

In [37]:
AMOUNTS = df_incv.AMOUNT.unique()
np.savetxt("./resources/others/amount_INPUTEVENTS_CV.txt", AMOUNTS, fmt="%s")

In [59]:
import pickle
def unit_coeffient():
    unit_co = {}
    paths = ["./resources/itemid_uom_map/inputevents_cv_map.csv",
            "./resources/itemid_uom_map/inputevents_mv_map.csv",]
    paths2 = ["./resources/itemid_uom_map/labevents_map.csv",]
    for p in paths:
        unit = pd.read_csv(p)
        for i, row in unit.iterrows():
            unit_co[ f'{row["ITEMID"]}-{row["AMOUNTUOM"]}' ] = row["COEFFICIENT"]
    for p in paths2:
        unit = pd.read_csv(p)
        for i, row in unit.iterrows():
            unit_co[ f'{row["ITEMID"]}-{row["VALUEUOM"]}' ] = row["COEFFICIENT"]
    # chartevents
    chart_uom = {227441: ['mg/dL', 'units'], 578:[ 'cmH20', '.'], 113:[ 'mmHg', '%'], 3451:[ 'kg', 'cm'],3723: ['kg', 'cm']}
    for i, v in chart_uom.items():
        unit_co[f'{i}-{v[0]}' ] = 0
        unit_co[f'{i}-{v[1]}' ] = 0
    with open("./resources/itemid_uom_map/unit_coeffient.pkl","wb") as f:
        pickle.dump(unit_co, f)

In [60]:
unit_coeffient()
with open("./resources/itemid_uom_map/unit_coeffient.pkl","rb") as f:
    unit_co2 = pickle.load(f)
    unit_co2

In [61]:
unit_co2

{'30022-mg': 100,
 '30022-ml': 1,
 '30023-cc': 0,
 '30023-gm': 0,
 '30023-mg': 500,
 '30023-ml': 1,
 '30025-u': 0,
 '30025-ml': 1,
 '30026-meq': 0,
 '30026-ml': 1,
 '30027-ml': 1,
 '30027-gm': 0,
 '30029-meq': 0,
 '30029-ml': 1,
 '30030-meq': 150,
 '30030-ml': 1000,
 '30046-mg': 0,
 '30046-ml': 1,
 '30051-u': 0,
 '30051-ml': 1,
 '30052-ml': 1,
 '30052-gm': 0,
 '30067-ml': 0,
 '30067-meq': 1,
 '30069-ml': 1,
 '30069-mg': 0,
 '30073-ml': 1,
 '30073-str': 0,
 '30077-str': 0,
 '30077-ml': 1,
 '30088-str': 0,
 '30088-ml': 1,
 '30089-tsp': 0,
 '30089-gm': 1,
 '30111-ml': 1,
 '30111-gm': 0,
 '30114-ml': 1,
 '30114-mg': 0,
 '30117-ml': 1,
 '30117-mcg': 10000,
 '30126-ml': 1,
 '30126-mg': 0,
 '30135-mg': 0,
 '30135-ml': 1,
 '30138-mg': 1,
 '30138-ml': 1,
 '30148-ml': 1,
 '30148-mg': 0,
 '30151-mg': 0,
 '30151-ml': 1,
 '30163-mg': 0,
 '30163-ml': 1,
 '30166-ml': 1,
 '30166-str': 0,
 '30167-mcg': 0,
 '30167-ml': 1,
 '30172-mg': 0,
 '30172-ml': 1,
 '30173-mg': 1,
 '30173-ml': 0,
 '30174-ml': 1,
 '30174-mg': 0,
 '30177-ml': 1,
 '30177-mg': 0,
 '30178-mg': 0,
 '30178-ml': 1,
 '30296-u': 0,
 '30296-meq': 1,
 '30297-meq': 0,
 '30297-ml': 1,
 '30298-u': 0,
 '30298-ml': 1,
 '30298-meq': 2,
 '30384-ml': 1,
 '30384-mg': 0,
 '30403-ml': 1,
 '30403-str': 0,
 '220995-/hour': 0,
 '220995-meq': 0,
 '221289-mcg': 1000,
 '221289-mg': 1,
 '221456-mg': 1000,
 '221456-grams': 1,
 '221468-mcg': 1000,
 '221468-mg': 1,
 '221555-mcg': 1000,
 '221555-mg': 1,
 '221744-mg': 1,
 '221744-mcg': 1000,
 '221794-dose': 0,
 '221794-mg': 1,
 '221833-mg': 1,
 '221833-dose': 0,
 '221833-mcg': 1000,
 '221906-mcg': 1000,
 '221906-mg': 1,
 '222011-grams': 1,
 '222011-mg': 1000,
 '222021-mg': 1,
 '222021-mcg': 1000,
 '222062-mcg': 1000,
 '222062-mg': 1,
 '222168-mg': 1,
 '222168-mcg': 1000,
 '225150-mg': 1,
 '225150-mcg': 1000,
 '225153-mg': 0,
 '225153-dose': 0,
 '225154-mcg': 1000,
 '225154-mg': 1,
 '225155-mcg': 1000,
 '225155-mg': 1,
 '225158-l': 1,
 '225158-ml': 1000,
 '225798-mcg': 0,
 '225798-grams': 0,
 '225798-dose': 0,
 '225798-mg': 0,
 '225828-l': 1,
 '225828-ml': 1000,
 '225832-dose': 0,
 '225832-mg': 1,
 '225833-mg': 1,
 '225833-dose': 0,
 '225837-grams': 1000,
 '225837-mg': 1,
 '225837-mcg': 1000,
 '225837-dose': 0,
 '225838-mg': 0,
 '225838-dose': 0,
 '225840-dose': 0,
 '225840-mg': 1,
 '225842-dose': 0,
 '225842-grams': 1,
 '225842-mg': 1000,
 '225843-grams': 1,
 '225843-dose': 0,
 '225844-dose': 0,
 '225844-mg': 1,
 '225845-grams': 1,
 '225845-mg': 1000,
 '225845-dose': 0,
 '225847-mg': 1,
 '225847-dose': 0,
 '225848-dose': 0,
 '225848-mg': 1,
 '225850-mg': 1000,
 '225850-dose': 0,
 '225850-grams': 1,
 '225851-dose': 0,
 '225851-mg': 1000,
 '225851-grams': 1,
 '225853-grams': 1,
 '225853-dose': 0,
 '225855-dose': 0,
 '225855-grams': 1,
 '225859-dose': 0,
 '225859-mg': 1,
 '225860-mg': 1,
 '225860-dose': 0,
 '225862-mg': 1,
 '225862-dose': 0,
 '225863-dose': 0,
 '225863-mg': 1,
 '225866-mg': 1,
 '225866-dose': 0,
 '225869-mg': 1,
 '225869-dose': 0,
 '225871-dose': 0,
 '225871-mg': 1,
 '225873-mg': 1,
 '225873-dose': 0,
 '225875-mg': 1,
 '225875-dose': 0,
 '225876-dose': 0,
 '225876-mg': 1,
 '225879-grams': 1,
 '225879-dose': 0,
 '225879-mg': 1000,
 '225881-mg': 1,
 '225881-dose': 0,
 '225883-grams': 1,
 '225883-dose': 0,
 '225883-mg': 1000,
 '225884-mg': 1000,
 '225884-grams': 1,
 '225884-dose': 0,
 '225885-dose': 0,
 '225885-mg': 1,
 '225888-dose': 0,
 '225888-mg': 1000,
 '225888-grams': 1,
 '225888-mcg': 1000000,
 '225890-dose': 0,
 '225890-mg': 1,
 '225892-grams': 1,
 '225892-dose': 0,
 '225892-mg': 1000,
 '225893-dose': 0,
 '225893-mg': 1000,
 '225893-grams': 1,
 '225898-mg': 1,
 '225898-dose': 0,
 '225899-dose': 0,
 '225899-mg': 1,
 '225902-mg': 1,
 '225902-dose': 0,
 '225905-mg': 1,
 '225905-dose': 0,
 '225906-dose': 0,
 '225906-mg': 1,
 '225907-mg': 1,
 '225907-dose': 0,
 '225909-dose': 0,
 '225909-mg': 1,
 '225910-dose': 0,
 '225910-mg': 1,
 '225911-dose': 0,
 '225911-mg': 1,
 '225912-dose': 0,
 '225912-grams': 1,
 '225913-grams': 1,
 '225913-dose': 0,
 '225913-mg': 1000,
 '225914-mg': 1,
 '225914-pg': 1000000000,
 '225914-mcg': 1000,
 '225914-dose': 0,
 '225942-mg': 1,
 '225942-mcg': 1000,
 '225948-grams': 1,
 '225948-dose': 0,
 '225974-mg': 1,
 '225974-mcg': 1000,
 '225975-mcg': 1000,
 '225975-mg': 1,
 '225975-dose': 0,
 '226361-l': 1,
 '226361-ml': 1000,
 '226364-l': 1,
 '226364-ml': 1000,
 '226367-ul': 1000,
 '226367-ml': 1,
 '227531-grams': 1,
 '227531-mg': 1000,
 '227536-meq.': 0,
 '227536-ml/hr': 0,
 '227689-mg': 1000,
 '227689-grams': 1,
 '227690-grams': 1,
 '227690-mg': 1000,
 '227691-dose': 0,
 '227691-mg': 1,
 '227694-dose': 0,
 '227694-mg': 1,
 '228003-dose': 0,
 '228003-mg': 1,
 '228315-mg': 1000,
 '228315-dose': 0,
 '228315-grams': 1,
 '50889-mg/l': 10,
 '50889-mg/dl': 1,
 '50916-ug/dl': 10,
 '50916-ng/ml': 1,
 '50926-miu/ml': 1000,
 '50926-miu/l': 1,
 '50958-miu/ml': 1000,
 '50958-miu/l': 1,
 '50964-mosm/l': 0,
 '50964-mosm/kg': 0,
 '50974-ng/ml': 1,
 '50974-ug/l': 1,
 '50980-i.u.': 0,
 '50980-iu/ml': 0,
 '50989-ng/dl': 1,
 '50989-pg/ml': 1,
 '50993-uiu/ml': 0,
 '50993-uu/ml': 0,
 '51067-mg/24hours': 1,
 '51067-mg/24hr': 1,
 '51068-mg/24hours': 1,
 '51068-mg/24hr': 1,
 '51127-#/ul': 0,
 '51127-#/cu mm': 0,
 '51128-#/ul': 0,
 '51128-#/cu mm': 0,
 '51274-sec': 1,
 '51274-seconds': 1,
 '51464-mg/dl': 0,
 '51464-eu/dl': 0,
 '51514-mg/dl': 0,
 '51514-eu/dl': 0,
 '227441-mg/dL': 0,
 '227441-units': 0,
 '578-cmH20': 0,
 '578-.': 0,
 '113-mmHg': 0,
 '113-%': 0,
 '3451-kg': 0,
 '3451-cm': 0,
 '3723-kg': 0,
 '3723-cm': 0}

In [10]:
unit = pd.read_csv("/home/lzy/KDD-MIMIC/mimic_benchmark/resources/itemid_uom_map/inputevents_cv_map.csv")
unit

    Unnamed: 0  ITEMID AMOUNTUOM  COUNT              LABEL  COEFFICIENT
0            0   30022        mg    510   Calcium Chloride          100
1            1   30022        ml    510   Calcium Chloride            1
2            2   30023        cc  35913  Calcium Gluconate            0
3            3   30023        gm  35913  Calcium Gluconate            0
4            4   30023        mg  35913  Calcium Gluconate          500
..         ...     ...       ...    ...                ...          ...
72          72   30298       meq   2958     Sodium Acetate            2
73          73   30384        ml   2939             Xigris            1
74          74   30384        mg   2939             Xigris            0
75          75   30403        ml  22574       Nutren Renal            1
76          76   30403       str  22574       Nutren Renal            0

[77 rows x 6 columns]

In [34]:
unit_co = {}
for i, row in unit.iterrows():
    unit_co[ f'{row["ITEMID"]}-{row["AMOUNTUOM"]}' ] = row["COEFFICIENT"]

In [47]:
df_incv = df_incv.dropna(axis=0,subset = ["AMOUNT", "AMOUNTUOM"])
df_incv["AMOUNTUOM"] = df_incv["AMOUNTUOM"].str.lower()
for i,row in tqdm(df_incv.iterrows(),total = df_incv.shape[0]):
    strs = f'{row["ITEMID"]}-{row["AMOUNTUOM"]}'
    if not (strs in unit_co):
        continue
    num = unit_co[ strs ]
    if num !=0:
        df_incv.loc[i,"AMOUNT"] = row["AMOUNT"] / num
    else:
        df_incv.loc[i,"AMOUNT"] = 0
df_incv = df_incv.dropna(axis=0,subset = ["AMOUNT", "AMOUNTUOM"])
df_incv.shape

 35%|███▍      | 4242394/12262278 [08:39<202:43:20, 10.99it/s]

KeyboardInterrupt:

In [34]:
df_incv = df_incv.dropna(axis=0,subset = ["AMOUNT", "AMOUNTUOM"])
# itemid with multiple uom
uom1 = df_incv.drop_duplicates(subset=["ITEMID","AMOUNTUOM"]).sort_values("ITEMID")
uom1 = uom1.groupby("ITEMID").count().reset_index()
itemid1 = uom1[uom1.AMOUNTUOM>1][["ITEMID"]]
itemid0 = uom1[uom1.AMOUNTUOM<=1][["ITEMID"]]
df_incv2 = df_incv.merge(itemid0,how="inner",left_on=["ITEMID"],right_on=["ITEMID"])
#df_incv2.shape
# itemid with 90%
uom2 = df_incv.merge(itemid1,how="inner",left_on=["ITEMID"],right_on=["ITEMID"])
uom2 = uom2.groupby(["ITEMID","AMOUNTUOM"]).count().reset_index()
uom2 = uom2.merge(uom2.groupby(["ITEMID"]).sum().reset_index(),how="inner",left_on="ITEMID",right_on="ITEMID")
uom2["Percent"] = uom2.AMOUNT_x / uom2.AMOUNT_y
uom2 = uom2[uom2.Percent>=0.9]
df_incv3 = df_incv.merge(uom2[["ITEMID","AMOUNTUOM"]],how="inner",left_on=["ITEMID","AMOUNTUOM"],right_on=["ITEMID","AMOUNTUOM"])
#df_incv3.shape
df_incv4 = pd.concat([df_incv2,df_incv3],axis=0).sort_values(["SUBJECT_ID","HADM_ID","ICUSTAY_ID"])
df_incv4.to_csv(os.path.join(mimic3_path2,"INPUTEVENTS_CV2.csv"))
print(df_incv4.shape)
print("- rows: ",(df_incv.shape[0]-df_incv4.shape[0]))

(12199132, 22)
- rows:  63146

# INPUTEVENTS_MV

In [63]:
df_inmv = pd.read_csv(os.path.join(mimic3_path,"INPUTEVENTS_MV.csv"),low_memory=False)
df_inmv

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,TOTALAMOUNTUOM,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE,ORIGINALAMOUNT,ORIGINALRATE
0,241,27063,139787,223259.0,2133-02-05 06:29:00,2133-02-05 08:45:00,225166,6.774532,mEq,NaN,...,ml,0,0,1,Rewritten,NaN,RN,2133-02-05 12:52:00,10.000000,0.050000
1,242,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225944,28.132997,ml,30.142497,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,28.132998,30.255817
2,243,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225166,2.813300,mEq,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,2.813300,0.050426
3,244,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,225893,1.000000,dose,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,1.000000,1.000000
4,245,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,220949,100.000000,ml,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,100.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3618986,3568968,90959,136680,240741.0,2147-08-28 12:00:00,2147-08-28 12:01:00,221744,99.999997,mcg,NaN,...,NaN,0,0,0,FinishedRunning,NaN,NaN,NaN,100.000000,100.000000
3618987,3568969,90959,136680,240741.0,2147-08-29 12:16:00,2147-08-29 15:04:00,225942,0.842267,mg,300.809532,...,ml,0,0,0,Paused,NaN,NaN,NaN,2.500000,300.000000
3618988,3568970,90959,136680,240741.0,2147-08-29 12:16:00,2147-08-29 15:04:00,225943,16.845331,ml,6.016190,...,ml,0,0,0,Paused,NaN,NaN,NaN,50.000000,6.000000
3618989,3568971,90959,136680,240741.0,2147-08-29 02:30:00,2147-08-29 02:31:00,221744,99.999997,mcg,NaN,...,NaN,0,0,0,FinishedRunning,NaN,NaN,NaN,100.000000,100.000000
3618990,3568972,90959,136680,240741.0,2147-08-28 06:00:00,2147-08-28 07:01:00,222168,328.081150,mg,56.024786,...,ml,0,0,0,Changed,NaN,NaN,NaN,995.000120,56.042786

In [64]:
AMOUNTS = df_inmv.AMOUNT.unique()
np.savetxt("./resources/others/amount_INPUTEVENTS_MV.txt", AMOUNTS, fmt="%s")

In [37]:
df_inmv = df_inmv.dropna(axis=0,subset = ["AMOUNT", "AMOUNTUOM"])
# itemid with multiple uom
uom1 = df_inmv.drop_duplicates(subset=["ITEMID","AMOUNTUOM"]).sort_values("ITEMID")
uom1 = uom1.groupby("ITEMID").count().reset_index()
itemid1 = uom1[uom1.AMOUNTUOM>1][["ITEMID"]]
itemid0 = uom1[uom1.AMOUNTUOM<=1][["ITEMID"]]
df_inmv2 = df_inmv.merge(itemid0,how="inner",left_on=["ITEMID"],right_on=["ITEMID"])
# itemid with 90%
uom2 = df_inmv.merge(itemid1,how="inner",left_on=["ITEMID"],right_on=["ITEMID"])
uom2 = uom2.groupby(["ITEMID","AMOUNTUOM"]).count().reset_index()
uom2 = uom2.merge(uom2.groupby(["ITEMID"]).sum().reset_index(),how="inner",left_on="ITEMID",right_on="ITEMID")
uom2["Percent"] = uom2.AMOUNT_x / uom2.AMOUNT_y
uom2 = uom2[uom2.Percent>=0.9]
df_inmv3 = df_inmv.merge(uom2[["ITEMID","AMOUNTUOM"]],how="inner",left_on=["ITEMID","AMOUNTUOM"],right_on=["ITEMID","AMOUNTUOM"])
df_inmv4 = pd.concat([df_inmv2,df_inmv3],axis=0).sort_values(["SUBJECT_ID","HADM_ID","ICUSTAY_ID"])
df_inmv4.to_csv(os.path.join(mimic3_path2,"INPUTEVENTS_MV2.csv"))
print(df_inmv4.shape)
print("- rows: ",(df_inmv.shape[0]-df_inmv4.shape[0]))

(3499077, 31)
- rows:  0

# LABEVENTS

In [65]:
df_lab = pd.read_csv(os.path.join(mimic3_path,"LABEVENTS.csv"),low_memory=False)
df_lab

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
...,...,...,...,...,...,...,...,...,...
27854050,27428435,96443,103219.0,50882,2109-12-30 01:40:00,26,26.00,mEq/L,NaN
27854051,27428436,96443,103219.0,50885,2109-12-30 01:40:00,2.1,2.10,mg/dL,abnormal
27854052,27428437,96443,103219.0,50902,2109-12-30 01:40:00,97,97.00,mEq/L,NaN
27854053,27428438,96443,103219.0,50911,2109-12-30 01:40:00,2,2.00,ng/mL,NaN
27854054,27428439,96443,103219.0,50912,2109-12-30 01:40:00,1.6,1.60,mg/dL,abnormal

In [67]:
AMOUNTS = df_lab.VALUE.unique()
np.savetxt("./resources/others/amount_LABEVENTS.txt", AMOUNTS, fmt="%s")

In [40]:
df_lab = df_lab.dropna(axis=0,subset = ["VALUE", "VALUEUOM"])
# itemid with multiple uom
uom1 = df_lab.drop_duplicates(subset=["ITEMID","VALUEUOM"]).sort_values("ITEMID")
uom1 = uom1.groupby("ITEMID").count().reset_index()
itemid1 = uom1[uom1.VALUEUOM>1][["ITEMID"]]
itemid0 = uom1[uom1.VALUEUOM<=1][["ITEMID"]]
df_lab2 = df_lab.merge(itemid0,how="inner",left_on=["ITEMID"],right_on=["ITEMID"])
# itemid with 90%
uom2 = df_lab.merge(itemid1,how="inner",left_on=["ITEMID"],right_on=["ITEMID"])
uom2 = uom2.groupby(["ITEMID","VALUEUOM"]).count().reset_index()
uom2 = uom2.merge(uom2.groupby(["ITEMID"]).sum().reset_index(),how="inner",left_on="ITEMID",right_on="ITEMID")
uom2["Percent"] = uom2.VALUE_x / uom2.VALUE_y
uom2 = uom2[uom2.Percent>=0.9]
df_lab3 = df_lab.merge(uom2[["ITEMID","VALUEUOM"]],how="inner",left_on=["ITEMID","VALUEUOM"],right_on=["ITEMID","VALUEUOM"])
df_lab4 = pd.concat([df_lab2,df_lab3],axis=0).sort_values(["SUBJECT_ID","HADM_ID","CHARTTIME"])
df_lab4.to_csv(os.path.join(mimic3_path2,"LABEVENTS2.csv"))
print(df_lab4.shape)
print("- rows: ",(df_lab.shape[0]-df_lab4.shape[0]))

(24299559, 9)
- rows:  453311

# OUTPUTEVENTS

In [68]:
df_output = pd.read_csv(os.path.join(mimic3_path,"OUTPUTEVENTS.csv"),low_memory=False)
df_output

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,VALUEUOM,STORETIME,CGID,STOPPED,NEWBOTTLE,ISERROR
0,344,21219,177991.0,225765.0,2142-09-08 10:00:00,40055,200.0,ml,2142-09-08 12:08:00,17269,NaN,NaN,NaN
1,345,21219,177991.0,225765.0,2142-09-08 12:00:00,40055,200.0,ml,2142-09-08 12:08:00,17269,NaN,NaN,NaN
2,346,21219,177991.0,225765.0,2142-09-08 13:00:00,40055,120.0,ml,2142-09-08 13:39:00,17269,NaN,NaN,NaN
3,347,21219,177991.0,225765.0,2142-09-08 14:00:00,40055,100.0,ml,2142-09-08 16:17:00,17269,NaN,NaN,NaN
4,348,21219,177991.0,225765.0,2142-09-08 16:00:00,40055,200.0,ml,2142-09-08 16:17:00,17269,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4349213,4340476,68375,123645.0,276251.0,2175-09-05 23:00:00,226588,30.0,mL,2175-09-05 22:48:00,16915,NaN,NaN,NaN
4349214,4340477,68375,123645.0,276251.0,2175-09-06 00:00:00,226588,0.0,mL,2175-09-06 00:03:00,20971,NaN,NaN,NaN
4349215,4340478,68375,123645.0,276251.0,2175-09-06 01:00:00,226588,40.0,mL,2175-09-06 01:13:00,20971,NaN,NaN,NaN
4349216,4340479,68375,123645.0,276251.0,2175-09-06 02:00:00,226588,20.0,mL,2175-09-06 02:14:00,20971,NaN,NaN,NaN
4349217,4340480,68375,123645.0,276251.0,2175-09-06 04:00:00,226588,40.0,mL,2175-09-06 03:53:00,20971,NaN,NaN,NaN

In [69]:
AMOUNTS = df_output.VALUE.unique()
np.savetxt("./resources/others/amount_OUTPUTEVENTS.txt", AMOUNTS, fmt="%s")

In [53]:
df_output = df_output.dropna(axis=0,subset = ["VALUE", "VALUEUOM"])
# itemid with multiple uom
uom1 = df_output.drop_duplicates(subset=["ITEMID","VALUEUOM"]).sort_values("ITEMID")
uom1 = uom1.groupby("ITEMID").count().reset_index()
itemid1 = uom1[uom1.VALUEUOM>1][["ITEMID"]]
itemid0 = uom1[uom1.VALUEUOM<=1][["ITEMID"]]
df_output2 = df_output.merge(itemid0,how="inner",left_on=["ITEMID"],right_on=["ITEMID"])
# itemid with 90%
if len(itemid1) >0:
    uom2 = df_output.merge(itemid1,how="inner",left_on=["ITEMID"],right_on=["ITEMID"])
    uom2 = uom2.groupby(["ITEMID","VALUEUOM"]).count().reset_index()
    uom2 = uom2.merge(uom2.groupby(["ITEMID"]).sum().reset_index(),how="inner",left_on="ITEMID",right_on="ITEMID")
    uom2["Percent"] = uom2.VALUE_x / uom2.VALUE_y

    uom2 = uom2[uom2.Percent>=0.9]
    df_output3 = df_output.merge(uom2[["ITEMID","VALUEUOM"]],how="inner",left_on=["ITEMID","VALUEUOM"],right_on=["ITEMID","VALUEUOM"])
    df_output4 = pd.concat([df_output2,df_output3],axis=0).sort_values(["SUBJECT_ID","HADM_ID","CHARTTIME"])
else:
    df_output4 = df_output2
df_output4.to_csv(os.path.join(mimic3_path2,"OUTPUTEVENTS2.csv"))
print(df_output4.shape)
print("- rows: ",(df_output.shape[0]-df_output4.shape[0]))

(4224418, 13)
- rows:  0

# CHARTEVENTS

In [27]:
table = "CHARTEVENTS"
nb_rows = 330712484

In [25]:
df_chart_new=pd.DataFrame(columns=['ROW_ID','ITEMID','VALUE','VALUEUOM'])
df_chart_new

Empty DataFrame
Columns: [ROW_ID, ITEMID, VALUE, VALUEUOM]
Index: []

In [ ]:
for row, row_no, _ in read_events_table_by_row(mimic3_path, table):
    if pd.notnull(row["VALUEUOM"]) and pd.notnull(row["VALUE"]):
        df_chart_new.loc[df_chart_new.shape[0]] = {'ROW_ID':row["ROW_ID"],'ITEMID':row["ITEMID"],'VALUE':row["VALUE"],'VALUEUOM':row["VALUEUOM"]}

In [ ]:
df_chart_new.to_csv(os.path.join(mimic3_path2,"CHARTEVENTS2.csv"))